.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #1b4965;
    color: #e7ecef;
    font-weight: 600;
    height: 50px;
}

.footerMenu {
    right: 0;
}