.headerMenu {
    margin-left: 10px;
    color: #e7ecef;
    text-decoration: none;
}

.toolbar {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1b4965;
    color: #e7ecef;
    font-weight: 600;
}

.rightHeader {
    margin-left: 10px;
    color: #e7ecef;
    text-decoration: none;
    position: absolute;
    right: 0px;
}
