<div class="toolbar" role="banner">
    <button mat-button routerLink="" class="headerMenu">
        Home
    </button>
    <button mat-button [matMenuTriggerFor]="shops" class="headerMenu">
        Shops
    </button>
    <button mat-button [matMenuTriggerFor]="deliveryCompanies" class="headerMenu">
        Delivery companies
    </button>
    <button mat-button routerLink="/delivery" class="headerMenu">
        Delivery
    </button>
    <button mat-button routerLink="/history" class="headerMenu">
        History
    </button>
    <button mat-button routerLink="/log-in" class="rightHeader">
        Log In
    </button>

    <mat-menu #shops="matMenu">
        <button mat-menu-item routerLink="/allegro">
            Allegro
        </button>
        <button mat-menu-item>
            eBay
        </button>
        <button mat-menu-item>
            AliExpress
        </button>
    </mat-menu>

    <mat-menu #deliveryCompanies="matMenu">
        <button mat-menu-item routerLink="/pocztaPolska">
            Poczta Polska
        </button>
        <button mat-menu-item routerLink="/inPost">
            InPost
        </button>
        <button mat-menu-item routerLink="/fedex">
            Fedex
        </button>
    </mat-menu>
</div>
