<div class="toolbar" role="banner">
    <button mat-button routerLink="" class="headerMenu">
        Home
    </button>
    <button mat-button [matMenuTriggerFor]="shops" class="headerMenu">
        Shops
    </button>
    <button mat-button [matMenuTriggerFor]="deliveryCompanies" class="headerMenu">
        Delivery companies
    </button>
    <button mat-button routerLink="/otherTracks" class="headerMenu">
        Official sites
    </button>
    <button mat-button routerLink="/history" class="headerMenu">
        History
    </button>
    <button mat-button routerLink="/signup" class="signup">
        Sign Up
    </button>
    <button mat-button routerLink="/signin" class="rightHeader">
        Sign In
    </button>

    <mat-menu #shops="matMenu">
        <button mat-menu-item routerLink="/allegro">
            Allegro
        </button>
    </mat-menu>

    <mat-menu #deliveryCompanies="matMenu">
        <button mat-menu-item routerLink="/dhl">
            DHL
        </button>
        <button mat-menu-item routerLink="/fedex">
            Fedex
        </button>
        <button mat-menu-item routerLink="/inPost">
            InPost
        </button>
        <button mat-menu-item routerLink="/pocztaPolska">
            Poczta Polska
        </button>
        <button mat-menu-item routerLink="/ups">
            UPS
        </button>
        <button mat-menu-item routerLink="/unknown">
            Unknown
        </button>
    </mat-menu>
</div>
