<html>
    <body>
        <form class="form">         
            <mat-form-field class="fields">
                <textarea matInput style="resize:none" placeholder="Login:"></textarea>
            </mat-form-field>
            <mat-form-field class="fields">
                <textarea matInput style="resize:none" placeholder="Password:"></textarea>
            </mat-form-field>
            <button mat-raised-button class="button" (click)="openSnackBar()">Log In</button>
        </form>
    </body>
</html>
