<div class="flex-container">
    <button mat-raised-button class="homeButton" routerLink="/pocztaPolska">Poczta Polska</button>
    <button mat-raised-button class="homeButton" routerLink="/inPost">InPost</button>
    <button mat-raised-button class="homeButton" routerLink="/allegro">Allegro</button>
    <button mat-raised-button class="homeButton" routerLink="/fedex">Fedex</button>
    <button mat-raised-button class="homeButton" routerLink="/ups">UPS</button>
    <button mat-raised-button class="homeButton" routerLink="/dhl">DHL</button>
    <button mat-raised-button class="unknownButton" routerLink="/unknown">Unknown deliverer</button>
</div>
