<html>
    <body>
        <form class="form" [formGroup]="formGroup">         
            <mat-form-field class="fields">
                <textarea matInput style="resize:none" placeholder="Add your tracking number" formControlName="packageCode"></textarea>
            </mat-form-field>
            <button mat-raised-button class="button" (click)="findPackage()">Find!</button>
        </form>
        <br>
        <div *ngIf="isAnyPackage" class="form">
            <p>Tracking number: {{ this.data.tracking_number }}</p>
            <p>Created at: {{ this.data.created_at }}</p>
            <p>Updated at: {{ this.data.updated_at }}</p>
            <p>Status: {{ this.data.status }}</p>
            <p>Type: {{ this.data.type }}</p>
            <p>Service: {{ this.data.service }}</p>
        </div>
    </body>
</html>
