body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 60px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.fields {
    height: 100px;
    width: 600px;
    font-size: medium;
    align-self: center;
    position: fixed;
}

.button {
    height: 100px;
    width: 300px;
    margin: 6px 8px 6px 8px;
    border-radius: 5px;
    background: #e7ecef;
    margin: 5px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #62b6cb;
    align-self: center;
}

.button:hover {
    background: #62b6cb;
}