<html>
    <body>
        <div class="flex-container">
            <form class="form">         
                <mat-label class="fields">To track packages from delivery companies not included in our site, choose company from list below.
                <br>
                <br>
                You will be redirected to their official site, where you can track your package.</mat-label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <button mat-raised-button class="button" (click)="goToDPD()">DPD</button>
                <button mat-raised-button class="button" (click)="goToGLS()">GLS</button>
                <button mat-raised-button class="button" (click)="goToRUCH()">Paczka w RUCHu</button>
            </form>
        </div>
    </body>
</html>