<html>
  <body>
  <div>
    <form class="form">    
      <mat-form-field class="fields">
        <mat-label>Source of data</mat-label >
        <mat-select [formControl]="companyControl">
          <mat-optgroup *ngFor="let group of companyGroups" [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let company of group.company" [value]="company.value">
              {{company.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="button" (click)="findPackages()">Find!</button>
      <button mat-raised-button class="buttonLogOut" (click)="logout()">Logout!</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div *ngIf="isAnyPackage" class="table">
        <div *ngIf="this.isPocztaPolska">

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Package code </th>
                    <td mat-cell *matCellDef="let data"> {{this.data.code}} </td>
                  </ng-container>

                <ng-container matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.datetime}} </td>
                </ng-container>
            
                <ng-container matColumnDef="place">
                  <th mat-header-cell *matHeaderCellDef> Localization </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.place}} </td>
                </ng-container>
            
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.description}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div *ngIf="this.isInPost">

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Package code </th>
                    <td mat-cell *matCellDef="let data"> {{this.data.code}} </td>
                  </ng-container>

                <ng-container matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.datetime}} </td>
                </ng-container>
            
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let data"> {{ this.data.status}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsInPost"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsInPost;"></tr>
            </table>
        </div>
        <div *ngIf="this.isDHL">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let data"> {{this.data.code}} </td>
                  </ng-container>

                <ng-container matColumnDef="timestamp">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.timestamp}} </td>
                </ng-container>
    
                <ng-container matColumnDef="terminal">
                  <th mat-header-cell *matHeaderCellDef> Localization </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.terminal}} </td>
                </ng-container>
    
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.description}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDHL"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDHL;"></tr>
            </table>
        </div>
        <div *ngIf="this.isFedex">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let data"> {{ this.data.type }} </td>
                </ng-container>
            
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let data"> {{ this.data.date }} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsFedex"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsFedex;"></tr>
            </table>
        </div>
        <div *ngIf="this.isUPS">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="packageCode">
                  <th mat-header-cell *matHeaderCellDef> Package code </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.packageCode}} </td>
                </ng-container>
              
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.date}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.time}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> City </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.city}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> Description </th>
                  <td mat-cell *matCellDef="let data"> {{this.data.description}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsUPS"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsUPS;"></tr>
            </table>
        </div>
    </div>
    <div id="footer">
        <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]" class="paginator" showFirstLastButtons>
        </mat-paginator>
    </div>
    </div>
</body>
</html>

