<div class="parent">
  <mat-form-field>
    <mat-label class="chooseMethod">Choose method</mat-label>
    <select matNativeControl required>
      <option value="Get">Get</option>
      <option value="Post">Post</option>
      <option value="Put">Put</option>
      <option value="Delete">Delete</option>
      <option value="GetAll">GetAll</option>
    </select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <button mat-button class="button">Select</button>

</div>
  

<router-outlet></router-outlet>