<div class="parent">
    <mat-form-field>
        <mat-label>Choose method</mat-label>
        <mat-select>
          <mat-option *ngFor="let method of methods" [value]="method.value">
            {{method.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

  <mat-form-field>
    <textarea matInput style="resize:none" required placeholder="Delivery code:"></textarea>
  </mat-form-field>

  <button mat-button class="button" (click)="getDelivery()">Select</button>

</div>
  

<router-outlet></router-outlet>